<div>
  <select class="border rounded px-3 py-2 mb-4" [(ngModel)]="selectedCategory">
    <option [ngValue]="null" disabled selected>Filter by category</option>
    <option *ngFor="let c of categories" [ngValue]="c">
      {{ c }}
    </option>
  </select>


  <div class="flex flex-wrap justify-center">
    <div *ngFor="let movie of filteredMovies"
      class="w-60 m-4 rounded-lg overflow-hidden shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl bg-white">
      <img [src]="movie.posterUrl" [alt]="movie.title" class="w-full h-96 object-cover">

      <div class="p-4">
        <h3 class="text-xl font-bold mb-2">{{ movie.title }}</h3>
        <p class="text-gray-600 line-clamp-3">{{ movie.description }}</p>
        <a [routerLink]="['/movies', movie.id]" class="mt-2 inline-block text-blue-500 hover:text-blue-700">
          View Details →
        </a>
      </div>
    </div>
  </div>
</div>